<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="jumbotron" style="text-align: center; margin-top: -3em;">
      <img src="https://pbs.twimg.com/media/DAIXcWQXYAIyIEc.jpg">
      <h1 class="display-4">Welcome to the Malazan Universe!</h1>
      <p class="lead">Navigate this database of important people and places and create your own while you are here!</p>
      <hr class="my-4">
      <a class="btn btn-danger btn-lg" href="/malazan-db/characters">View Characters</a>
      <a class="btn btn-secondary btn-lg" href="/malazan-db/affiliations">View Affiliations</a>
    </div>
  </body>
</html>
