<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Malazan Database</title>
  </head>
  <body>
    <h1>Welcome to the Malazan Database!</h1>
    <% for(let i = 0; i < characters.length; i++){%>
      <div class="character">
        <a href="/malazan-db/<%=characters[i].id%>"><img src="<%=characters[i].img%>"></a><br/>
        <h3><%=characters[i].name%></h3>
      </div>
    <%}%>
  </body>
</html>
