<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Create A Character~</h1>
      <form action="/malazan-db" method="POST">
      Name of Character: <input type="text" name="name"><br/>
      Image of Character: <input type="text" name="img"><br/>
      Brief Character Description: <input type="text" name="info"><br/>
      Notable Quote from Character: <input type="text" name="quote"><br/>
      <input type="submit" value="Create Character">
    </form>
  </body>
</html>
