<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Editing</title>
  </head>
  <body>
    <h1>Edit A Character!</h1>
    <div class="container">
      <form action="/malazan-db/affiliations/<%=affiliation.id%>?_method=PUT" method="POST">
        Name: <input type="text" name="name" value="<%=affiliation.name%>"/><br/>
        Image URL: <input type="text" name="img" value="<%=affiliation.img%>"/><br/>
        Description: <input type="text" name="info" value="<%=affiliation.info%>"/><br/>
        <input type="submit" value="Submit Changes" /><br/>
        <a class="menuButton" href="/malazan-db">Back to main page?</a>
      </form>
    </div>
  </body>
</html>
