<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <% include ../partials/nav.ejs %>
    </nav>
    <h1 style="text-align: center; margin-top: .5em;">Start An Empire~</h1>
    <div class="container">
      <form action="/malazan-db/affiliations" method="POST">
        <div class="form-group">
          <label>Name of Company or Country: </label>
          <input type="text" name="name">
        </div>
        <div class="form-group">
          Image or Banner: <input type="text" name="img">
        </div>
        <div class="form-group">
          Brief Description: <input type="text" name="info">
        </div>
        <div class="form-group">
          <input class="btn btn-danger" type="submit" value="Create Company">
        </div>
    </form>
    </div>
  </body>
</html>
